body {
  background-color: #000000;
  margin: 0;
  overflow: hidden;
}

#video {
  display: none;
}

#container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas {
  margin: 0 auto;
}
